MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=la_esquinita
AUTH_BOOTSTRAP_EMAIL=dueno@laesquinita.com
AUTH_BOOTSTRAP_PASSWORD=change-this-secure-password
AUTH_BOOTSTRAP_NAME=La Esquinita
AUTH_USER_EMAIL=contratista@laesquinita.com
AUTH_USER_PASSWORD=change-this-contractor-password
AUTH_USER_NAME=Contratista
AUTH_USER_ROLE=contractor
NEXT_ALLOWED_DEV_ORIGINS=
